/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input{
	background-color: #5B0303;
	color: white;
	border: 1px solid #FFB0B0;
	padding: 3px;
	margin: 3px 0px;
}
html, body{
	overflow: auto;
	height: 100vh;
}
h1{
	font-size: 20px;
}
body{
	display: flex;
	height: auto;
	min-height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #FFDEDE;
	overflow-x: hidden; 
}

#content{
	align-self: flex-start;
	height: auto;
	width: 100vw;
	z-index: 1;
}

#footer{
	display: flex;
	align-items: center;
	align-self: flex-end;
	justify-content: center;
	width: 100vw;
	height: 5vh;
	background-color: #D87171;
	z-index: 1;
}

/* Style voor navigatie menus */
nav {
    background-color: #FFB0B0;
    color: black;
    display: block;
    font-size: 2rem;
    width: 100%;
    height: 5rem;
    margin: 0%;
    padding: 0%;
    position: relative;
    z-index: 2;
}

nav > ul {
    margin: 0px;
    height: inherit;
    list-style: none;
    padding-right: 10%
}

li.homepage {
	padding-right: 20%;
}

li.navhoofdkop {
    display: inline-block;
    height: inherit;
    width: 13%;
    float: right;
    padding-top: 0px;
}

li.navhoofdkop > ul {
    display: block;
    height: auto;
    width: 100%;
    list-style: none;
    padding: 0px;
}

li.navkop, li.navhoofdkop2, li > a {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: #FFB0B0;
}

li > a {
	text-decoration: none;
	color: inherit;
}

/*homepage*/
#hall{
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
	background-image: url("https://www.students.science.uu.nl/~5677246/assets/images/bg.jpg");
	background-size: 100% Auto;
	background-repeat: no-repeat;
	background-color: #151b26;
}
#hcontent{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 85vw;
	border-left: 1px solid #861B1B;
	border-right: 1px solid #861B1B;
	background: rgba(255,176,176,0.75);
}
#hheader{
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	width: 100%;
	box-sizing: border-box;
	color: #5E1220;
}
#hmain{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 100px;
	width: 100%;
	height: 50%;
}
#hregistreer{
	display: flex;
	padding: 20px 0px;
}
#hregistreerlink{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid white;
	background-color: #FF73F6;
}
#reglink{
	text-decoration: none;
	color: white;
}
#hgebruikers{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80vw;
}
#gebruikerheader{
	display: flex;
	justify-content: center;
	width: 100%;
}
#meerladen{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60vw;
	height: 50px;
	border-radius: 25px;
	border: 1px solid white;
	background-color: #F5CED5;
	margin: 25px 0px;
	color: #85284E;
}
#meerrandom{
		text-decoration: none;

}
#perstest{
	padding: 25px;
}
#persrcontent{
	display: flex;
	justify-content: center;
}
/*registratie en login*/
#rlcontent{
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: visible;
}

#rlfield{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	background-color: #5B0303;
	color: #FFB0B0;
	padding: 10px;
	border-radius: 3px;
	position: relative;
	margin: 5px;
}

#rlheader{
	padding: 4px;
}

#rlform{
	display: flex;
	flex-direction: column;
}

#reginput{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.inputfield{
	background-color: #5B0303;
	color: white;
	border: 1px solid #FFB0B0;
	padding: 3px;
	margin: 3px 0px;
}

#rlh1{
	color: white;
}

select{
	color: gray;
}

textarea{
	resize: none;
}


.datefield .inputfield{ 
    display: inline;
    padding: 0px; 
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 1.7em; 
    border: none;     
}

.datefield input#year { width:2.5em; }
.datefield input:focus { outline:none; }

#merken{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 530px;
	font-size: 1.0rem;
	padding: 0;

}

/* Profiel Pagina */
#pcontent{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#pprofiel{
	width: 70vw;
	background-color: #F5CED5;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px;
}
.pblok{
	display: flex;
	box-sizing: border-box;
	padding: 20px 10px;
	width: 100%;
	border-bottom: 1px solid #D87171;
}
#pphoto{
	height: 300px;
	width: 300px;

}

#pinfo{	
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	padding-right: 50px;
	width: 100%;

}
#profielinform{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}
#naamhead{
	padding: 15px;
}
#pbeschrijving{
	height: 20vh;
	width: 50%;
	word-wrap: break-word;

}
#ppersoonlijkheid{
	padding-top: 5px;
}
#pmerken{
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.merken{
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.ph1{
	font-weight: bold;
	text-decoration: underline;
}
.ph1m{
	width: 100%;
}
.leftfoto{
	position:absolute;
    z-index:2;
    width:150px;
    height: 300px;
    pointer-events:none;
    box-shadow                : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -ms-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow        : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
}
.rightfoto{
	position:absolute;
    z-index:2;
    width:150px;
    height: 300px;
    pointer-events:none;
    box-shadow                : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -ms-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow        : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    margin-left: 150px;
}
.fullfoto{
	position:absolute;
    z-index:2;
    width:300px;
    height: 300px;
    pointer-events:none;
    box-shadow                : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
    -ms-box-shadow            : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow            : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow        : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
}
.leftfotoh{
	position:absolute;
    z-index:2;
    width: 60px;
    height: 120px;
    pointer-events:none;
    box-shadow                : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -ms-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow        : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
}
.rightfotoh{
	position:absolute;
    z-index:2;
    width:60px;
    height: 120px;
    pointer-events:none;
    box-shadow                : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -ms-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow            : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow        : inset 150px 0px 0px rgba(255, 0, 0, 0.5);
    margin-left: 60px;
}
.fullfotoh{
	position:absolute;
    z-index:2;
    width:120px;
    height: 120px;
    pointer-events:none;
    box-shadow                : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
    -ms-box-shadow            : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
    -moz-box-shadow            : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow        : inset 300px 0px 0px rgba(255, 0, 0, 0.5);
}
.nullfoto{

}

}
#schaduw{
	position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 10px 0 #000000;
    border-radius: 20px;
    top: 0;
    left: 0;
}
/* EDIT PAGINA */
#epprofiel{
	background-color: #5B0303;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	margin: 20px;

}
#eprofiel{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

#epform{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
}

#ewachtwoord{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid white;
	padding: 20px;
}

#ewform{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	padding: 10px;
}
.merkedit{
	width: 95%;
}
#uploadfoto{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid white;
	padding: 20px;
}
#epfotoform{
	display: flex;
	width: 40vw;
	justify-content: center;
	padding: 10px;
}
.ui-dialog{
	font-size:1em !important; 
}

#deleteprofiel{
	display: flex;
	justify-content: center;
}
/*VRAGENLIJST*/

#vragenform{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.vraag{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}
#resultaat{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30vh;
	width: 20vw;
	background-color: #F5CED5;
}

/*BROWSE*/
#bcontent{
	display: flex;
	justify-content: center;
}
#bresults{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80vw;
}
#geenresult{
	display: flex;
	justify-content: center;
	width: 100%;
}
.bprofiel{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 35vw;
	height: 24vh;
	margin: 10px 0px;
	border-radius: 5px;
	background-color: #F5CED5;

}
.bfoto{
	display: flex;
	max-width: 120px;
	max-height: 120px;
	height: 120px;
	width: 120px;
}
.binfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 65%;
	height: 90%;
	padding: 10px;
	box-sizing: border-box;

}
.broepnaam{
	font-size: 20px;
	padding-bottom: 5px;
	text-decoration: none;
	color: black;
}
#bpagelinks{
	width: 100vw;
}
.foto{
	max-height: 100%;
	max-width: 100%;
	border-radius: 5px;
}
.bfotolink{
	max-height: 120px;
	max-width: 120px;

}

/*Zoek*/
#zoek{
	padding: 20px;
	display: flex;
	width: 50vw;
	flex-direction: column;
	background-color: #5B0303;
	color: white;
}
#zoekk{
	display: flex;
	justify-content: space-between;
}

#zoekr{
	display: flex;
	flex-direction: column;
}
#merkenb{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 300px;
	font-size: 1.0rem;
	padding: 0;

}
#error{
	width: 100%;
}

/*ADMIN*/
#afield{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50vw;
	background-color: #5B0303;
	color: #FFB0B0;
	padding: 10px;
	border-radius: 3px;
	position: relative;
	margin: 5px;
}
.ainvul{
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.alabel{
	padding: 3px;
}